﻿@model HoustonMafia.Models.GameViewModels.GameInstance
<style>
    #GameArea {
        border: 1px solid #d3d3d3;

        height: 700px;
        width: 100%;
    }
</style>
<div id="GameArea">

        <div id="NightAction">
            <div class="dropdown">
                <table style="width: 100%;padding: 10px;">
                    <thead>
                        <tr>
                            <th>
                                NickName
                            </th>
                            <th>
                                Identity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Players)
    {
                    @if(item.IsAlive && (item.Investigated || item.Role == Role.Detective))
{
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    </tr>

                        }

                        }
                    </tbody>
                </table>
                Please select the person you would like to Investigate
                <div id="myDropdown" class="dropdown-content">
                    <select id="DetectiveNames">
                        @foreach (var item in Model.Players)
            {
                @if (item.IsAlive && !item.Investigated)
    {
            <option value=@Html.DisplayFor(modelItem => item.Nickname)>@Html.DisplayFor(modelItem => item.Nickname)</option>
}
}
                    </select>
                    <button onclick="DetectiveNight()" class="dropbtn">Click</button>

                </div>
            </div>
        </div>

        <div style="display:none" id="hasVoted"> <Text>You have voted now all you can do is wait</Text> </div>
        <div style="display:none" id="DayAction">
            <div class="dropdown">

                Please select the person you believe to be a Mafia Member
                <div id="myDropdown" class="dropdown-content">
                    <select id="names">
                        @foreach (var item in Model.Players)
                        {
                            @if (item.IsAlive)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.Nickname)>@Html.DisplayFor(modelItem => item.Nickname)</option>
                            }
                        }
                    </select>
                    <button onclick="DayVote()" class="dropbtn">Click</button>

                </div>
            </div>
        </div>

    

</div>



