﻿@model IEnumerable<HoustonMafia.Models.GameViewModels.Gamelist>
@inject UserManager<ApplicationUser> umanager
@{
    ViewData["Title"] = "Current Games";
}

<h2>Current Games</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPlayerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPlayerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayers)
                </td>
                @if ((umanager.GetUserId(User)) == item.OwnerID)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GameID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GameID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GameID">Delete</a>|
                        <a asp-action="Join" asp-route-id="@item.GameID">Join</a>
                        }
                    </td>
                }
                else
                {
                    <td>
                            <a asp-action="Join" asp-route-id="@item.GameID">Join</a>
                        
                    </td>

                }
            </tr>
        }
    </tbody>
</table>