﻿@model HoustonMafia.Models.GameViewModels.GameInstance
@{
    ViewData["Title"] = "Ingame";
}


<text type="hidden" style="visibility: hidden" id="state">@Model.CurrentGame.State</text>
<text type="hidden" style="visibility: hidden" id="voted">@Model.currentplayer.HasVoted</text>
<body onload="Setup()">
    <div class="row">

        <div class="Client">
            @if (Model.CurrentGame.GameStatus == Status.InProgress)
            {
                @if (Model.currentplayer.Role == Role.Detective)
                {
                    @await Html.PartialAsync("DetectiveView", Model)
                }
                else if (Model.currentplayer.Role == Role.Mafia)
                {
                    @await Html.PartialAsync("MafiaView", Model)
                }
                else
                {
                    @await Html.PartialAsync("VillagerView", Model)
                }
            }
            else if (Model.CurrentGame.GameStatus == Status.MafiaVictory)
            {
                @await Html.PartialAsync("MafiaVictory", Model)
            }
            else if (Model.CurrentGame.GameStatus == Status.VillagerVictory)
            {
                @await Html.PartialAsync("VillagerVictory", Model)
            }
        </div>
        <div class="Messenger">
            <h2 name="StateTitle">@Model.currentplayer.Nickname:@Model.currentplayer.Role</h2>
            <div class="msg">
                <div id="msgs">
                    @foreach (var m in Model.GeneralChatLog)
                    {
                        var message = m.UserID + ':' + m.Content;
                        @message <br />

                    }
                </div>
            </div>
            <div id="Messagediv">
                <input type="text" id="MessageField" placeholder="type message and press enter" />
            </div>

        </div>
    </div>
</body>

@section Scripts {
    <script>
    var socket;
    $(function  Connect() {
        var userName = '@Model.currentplayer.Nickname';//Sets the username for the user

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";//Defines http protocol
        var wsUri = protocol + "//" + window.location.host;
        socket = new WebSocket(wsUri);//Creates a new socket
        socket.onopen = e => {
            console.log("socket opened", e);
        };
        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log("OnMessage Hit",e);
            $('#msgs').append(e.data + '<br />');
            if (e.data === "Admin: Dawn breaks, who has fallen in the night")
            {
                console.log("Admin Daytime message recieved")

                $('#state').text("Day");
                CheckStatus();
                VoteToggle();

            } else if (e.data === "Admin: Night falls over the village")
            {
                console.log("Admin Nighttime message recieved")

                $('#state').text("Night");
                CheckStatus();
                VoteToggle();
            }
            else if (e.data === "Admin: Only the Mafia remain, the Mafia have taken the town!")
            {
                console.log("Admin Mafia Victory");
                var url = '@Url.Action("MafiaVictory", "Games")';//create the url for the MafiaVictory action
                $('Client').load(url);//load it into the client
            }
            else if (e.data === "Admin: The last Mafia has hung, the village is now safe!")
            {
                console.log("Admin Villager Victory");
                var url = '@Url.Action("VillagerVictory", "Games")';//create the url for the VillagerVictory action
                $('Client').load(url);//load it into the client

            }
        };
        socket.onerror = function (e) {
            console.error("This is the Socket Error:"+e.data);
        };

        $('#MessageField').keypress(function (e) {
            if (e.which != 13) {//Check that they hit enter
                return;
            }

            e.preventDefault();//Ignore the default event

            var message = userName + ": " + $('#MessageField').val();//Cocactinates username : and the message
            socket.send(message);//Sends the message on the socket

            $.ajax({
                type: "POST",
                url: "@(Url.Action("CreateMessage", "Games"))",
                data: { message: message, GG: @Model.CurrentGame.GameID},
                success: function () {
                    console.log("Message Sent");

                }
            });
            //$.post("/GamesController/CreateMessage", new {message, })
            $('#MessageField').val('');//resets the message field
        });
    });
    function DayVote()
    {
            var name = $('#names').find("option:selected").text();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("DayAction", "Games"))",
                data: { player: name, GG: @Model.CurrentGame.GameID},
                success: function (result) {
                    if (result === 0) {//Change state vote

                        $('#state').text("Night");
                        SendNight();
                    }
                    else if (result === 1) {
                        console.log("blerp");
                    }
                    else if (result === 3) {
                        SendVillagerVictory();
                    }
                    else if (result === 4) {
                        SendMafiaVictory();
                    }
                else
                {//Normal vote
                    VoteToggle();

                }
                }
            });
            //console.log("Ajax");
    }
        function MafiaNightAction()
        {
         var name = $('#MafiaNames').find("option:selected").text();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("MafiaAction", "Games"))",
                data: { player: name, GG: @Model.CurrentGame.GameID},
                success: function (result) {
                    if (result === 0) {//Change state vote

                        $('#state').text("Day");
                        SendDay();
                    }
                    else if (result === 1) {
                        console.log("Already Voted");
                    }
                    else if (result === 3)
                    {
                        SendVillagerVictory();
                    }
                    else if (result === 4) {
                        SendMafiaVictory();
                    }

                else
                {//Normal vote
                    VoteToggle();

                }
                }
            });

    }
        function DetectiveNight()
        {

        var name = $('#DetectiveNames').find("option:selected").text();


            $.ajax({
                type: "POST",
                url: "@(Url.Action("DetectiveAction", "Games"))",
                data: { player: name, GG: @Model.CurrentGame.GameID},
                success: function (result) {
                    if (result === 0) {//Change state vote

                        $('#state').text("Day");
                        SendDay();
                    }
                    else if (result === 1) {
                        console.log("Has Already voted this phase");
                    }
                    else if (result === 3) {
                        SendVillagerVictory();
                    }
                    else if (result === 4) {
                        SendMafiaVictory();
                    }

                else
                {//Normal vote
                    VoteToggle();

                }
                }
            });

    }
    function Setup()
        {
        var x = document.getElementById("voted").textContent;
        console.log("This phase you have voted equals"+x)
        if (x === "True") {

            VoteToggle();

        }
        var y = document.getElementById("state").textContent;
        console.log("Starting state:"+y);
        if (y == "Night") {
            document.body.style.backgroundColor = "black";
            document.getElementById("GameArea").style.backgroundImage = "url('../images/night.png')"
            document.getElementById("GameArea").style.backgroundSize = "100% 100%";
            document.getElementById("GameArea").style.backgroundRepeat = "no-repeat"
        }
        else {
            document.body.style.backgroundColor = "white";
            document.getElementById("GameArea").style.backgroundImage = "url('../images/day.png')"
            document.getElementById("GameArea").style.backgroundSize = "100% 100%";
            document.getElementById("GameArea").style.backgroundRepeat = "no-repeat"
        }

    }
    function SendDay()
    {
            var message = "Admin: Dawn breaks, who has fallen in the night";
            socket.send(message);//Sends the message on the socket
            $.ajax({
                type: "POST",
                url: "@(Url.Action("CreateMessage", "Games"))",
                data: { message: message, GG: @Model.CurrentGame.GameID},
                success: null,
                dataType: 'json'
            });

    }
    function SendNight()
    {
               var message = "Admin: Night falls over the village";
            socket.send(message);//Sends the message on the socket
            $.ajax({
                type: "POST",
                url: "@(Url.Action("CreateMessage", "Games"))",
                data: { message: message, GG: @Model.CurrentGame.GameID},
                success: null,
                dataType: 'json'
    });
    }
        function SendMafiaVictory()
        {
        var message = "Admin: Only the Mafia remain, the Mafia have taken the town!";
        socket.send(message);//Sends the message on the socket
        $.ajax({
            type: "POST",
            url: "@(Url.Action("CreateMessage", "Games"))",
            data: { message: message, GG: @Model.CurrentGame.GameID},
            success: null,
            dataType: 'json'

        });
    }
    function SendVillagerVictory()
        {
            var message = "Admin: The last Mafia has hung, the village is now safe!";
            socket.send(message);//Sends the message on the socket
            $.ajax({
                type: "POST",
                url: "@(Url.Action("CreateMessage", "Games"))",
                data: { message: message, GG: @Model.CurrentGame.GameID},
                success: null,
                dataType: 'json'

            });
        }
    function VoteToggle()
    {

        var x = document.getElementById("state").textContent;
        console.log(x);
        if (x == "Night") {
            var y = document.getElementById("hasVoted");
            var z = document.getElementById("DayAction")
            var x = document.getElementById("NightAction");
            if (x.style.display === "none") {
                console.log("NightIfblock");
                x.style.display = "block";
                z.style.display = "none"
                y.style.display = "none";
            } else {
                console.log("NightElseblock");
                x.style.display = "none";
                z.style.display = "none"
                y.style.display = "block";
            }
        } else {
            var y = document.getElementById("hasVoted");
            var x = document.getElementById("DayAction");
            var z = document.getElementById("NightAction");
            if (x.style.display === "none") {
                console.log("DayIfblock");
                x.style.display = "block";
                z.style.display = "none"
                y.style.display = "none";
            } else {
                console.log("DayElseblock");
                x.style.display = "none";
                z.style.display = "none"
                y.style.display = "block";
            }
        }
    }
    function CheckStatus() {
    alert("Changing Phases")
    var x = document.getElementById("state").textContent;
    console.log("Check Status:"+x);
if (x == "Night")
{
    document.body.style.backgroundColor = "black";
    document.getElementById("GameArea").style.backgroundImage = "url('../images/night.png')"
    document.getElementById("GameArea").style.backgroundSize = "100% 100%";
    document.getElementById("GameArea").style.backgroundRepeat = "no-repeat"
}
else
{
    document.body.style.backgroundColor = "white";
    document.getElementById("GameArea").style.backgroundImage = "url('../images/day.png')"
    document.getElementById("GameArea").style.backgroundSize = "100% 100%";
    document.getElementById("GameArea").style.backgroundRepeat = "no-repeat"
}
    }

    </script>
}
