﻿
@{
    ViewData["Title"] = "InsertUserName";
}

<h2>InsertUserName</h2>

<form action="@Url.Action("InGame")" method="post">
    <input type="text" placeholder="Insert user name" name="userName" />
    <input type="submit" value="Eńter" />
</form>
