﻿@model HoustonMafia.Models.UserGame

@{
    ViewData["Title"] = "Join";
}
@inject UserManager<ApplicationUser> UserManager
<h2>Join</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Join" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"style="display: none">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" value="@UserManager.GetUserId(User)" readonly />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="GameID" class="control-label"></label>
                <input asp-for="GameID" value="@ViewBag.GameID" readonly />
                <span asp-validation-for="GameID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group"style="display: none">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" value="-1" readonly />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox" style="display: none">
                    <label>
                        <input checked asp-for="IsAlive" /> @Html.DisplayNameFor(model => model.IsAlive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

