﻿@model HoustonMafia.Models.GameViewModels.GameInstance
@inject UserManager<ApplicationUser> umanager
@{
    ViewData["Title"] = "Lobby";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}
<h2>Lobby- Please Wait until the Host starts the game</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>

            </tr>
        }
    </tbody>
</table>
@if ((umanager.GetUserId(User)) == Model.CurrentGame.OwnerID)
{

    <a asp-action="StartGame" asp-route-id="@Model.CurrentGame.GameID">Start Game</a>

}
else
{
    <a asp-action="Index">Back to List</a>
}
