﻿@model HoustonMafia.Models.GameViewModels.GameInstance
<style>
    #GameArea {
        border: 1px solid #d3d3d3;
        height: 700px;
        width: 100%;
    }
</style>
<div id="GameArea">
    <div id="hasVoted"> <h1>The Mafia have won!</h1> </div>
    <table style="width: 100%;padding: 10px;">
        <thead>
            <tr>
                <th>
                    NickName
                </th>
                <th>
                    Identity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Players)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>