﻿@model HoustonMafia.Models.GameViewModels.GameInstance
<style>
    #GameArea {
        border: 1px solid #d3d3d3;
        height: 700px;
        width: 100%;
    }
</style>


<div id="GameArea">
        <div id="NightAction">
            <div class="dropdown">

                Please select the person you would like visit tonight
                <div id="myDropdown" class="dropdown-content">
                    <select id="MafiaNames">
                        @foreach (var item in Model.Players)
                        {
                            @if (item.IsAlive && item.Role != Role.Mafia)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.Nickname)>@Html.DisplayFor(modelItem => item.Nickname)</option>
                            }
                        }
                    </select>
                    <button onclick="MafiaNightAction()" class="dropbtn">Click</button>

                </div>
            </div>
        </div>
        <div style="display:none" id="hasVoted"> <Text>You have voted now all</Text> </div>
        <div style="display:none" id="DayAction">

            <div class="dropdown">

                Please select the person you want to be hung
                <div id="myDropdown" class="dropdown-content">
                    <select id="names">
                        @foreach (var item in Model.Players)
                        {
                            @if (item.IsAlive)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.Nickname)>@Html.DisplayFor(modelItem => item.Nickname)</option>
                            }
                        }
                    </select>
                    <button onclick="DayVote()" class="dropbtn">Click</button>

                </div>
            </div>
        </div>

    }

</div>
