﻿@model HoustonMafia.Models.GameViewModels.GameInstance
<style>
    #GameArea {
        border: 1px solid #d3d3d3;

        height: 700px;
        width: 100%;
        
    }
    #VillagerNight
    {

    }
</style>
<div id="GameArea">

        <div id="NightAction"style="margin: auto;margin-top: 45%;width: 60%;">
            <text id="VillagerText">As a villager you're only hope is that the mafia don't visit you</text>
        </div>

        <div style="display:none" id="hasVoted"> <Text>You have voted now all you can do is wait</Text> </div>
        <div style="display:none" id="DayAction">
            <div class="dropdown">

                Please select the person you want to be hung
                <div id="myDropdown" class="dropdown-content">
                    <select id="names">
                        @foreach (var item in Model.Players)
                        {
                            @if (item.IsAlive)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.Nickname)>@Html.DisplayFor(modelItem => item.Nickname)</option>
                            }
                        }
                    </select>
                    <button onclick="DayVote()" class="dropbtn">Click</button>

                </div>
            </div>
        </div>

    }
</div>
