﻿@{
    ViewData["Title"] = "How To play";
}
<h2>What is Mafia</h2>
<p>
    Mafia is a game of deception where players are given a role and objectives and
    must use every trick up their sleeves to accomplish this. The setting is a small village where rumor of an underground mafia brings an investigator to town.
</p>
<h2>How to Play</h2>
<p>
    Once you've created a game lobby and enough people have joined the game will start and everyone will recieve a role with its own objectives.
    There are 3 roles (currently) which players may be assigned: Mafia, Investigator and Villager.
    The game takes place in two phases, the Day phase where the people of the village learn
    about the happenings in the town from the previous night and where the town may decide to lynch
    someone suspected of being a member of the Mafia. Then comes the night phase where the Mafia may choose to <strong>remove</strong> a member of the town
    and the investigator may choose to investigate someone to see if they are home. The game ends once all members of the mafia have been eliminated or
    the remaining population of the town is half mafia members
</p>
<h3><ins>Mafia</ins></h3>
<p>
    You are a member of the town mafia. Your main goal is to survive, you do this
    by removing players during the night phase and not getting lynched during the day phase.
</p>
<h3><ins>Investigator</ins></h3>
<p>
    As an undercover Investigator your goal is to find the mafia. During the night you may investigate players to see if they spent the night at home. You may gain some authority with the villagers if they know who you are
    but you will also be targeted by the mafia if you do so.
</p>
<h3><ins>Villager</ins></h3>
<p>You are a simple villager who only wants to protect their town by removing the insidious Mafia. Your only weapons are your wit and your voice, use them quickly before they are silenced.</p>
