﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Alex Houston</h3>

<address>
    27500 SW Parkway Ave, <br />
    Wilsonville, OR 97070<br />
    <abbr title="Phone">P:</abbr>
    000-000-0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">alexpatrickhouston@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">alexpatrickhouston@gmail.com</a>
</address>
