﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
#dayaction{
    padding-top:50%
}
#VillagerText, #hasVoted {
    margin: auto;
    margin-top: 30%;
    width: 60%;
    border: 3px solid black;
    background-color: white;
    padding: 10px
}
.dropdown {
    margin: auto;
    margin-top: 45%;
    width: 60%;
    height: 50%;
    border: 3px solid black;
    background-color: white;
    padding: 10px
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Ingame Content css*/
.msg {
    overflow: auto;
    margin-bottom: auto;
    white-space: nowrap;
    max-height: inherit;
    transform: rotate(180deg);
    direction: rtl;
}

#msgs {
    overflow: auto;
    background-color: #f1f1f1;
    height: 610px;
    transform: rotate(180deg);
    direction: ltr;
    max-height: inherit;
}

#MessageField {
    bottom: 0;
    width: 100%
}

#Messagediv {
    height: 20px;
    bottom: 10px;
    left: 0;
    display: block;
}

.Messenger {
    overflow: hidden;
    float: left;
    width: 30%;
    max-width: 30%;
    height: 75%;
    margin: 0 auto;
    border-radius: 5px;
    max-height: 700px;
    background-color: #f1f1f1;
    border: solid 1px black;
}

.Client {
    float: left;
    width: 70%;
    max-height: 700px;
    height: 75%;
    max-width: 70%
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
